<p id="notice"><%= notice %></p>

<h3><%= "List: #{@list.name.capitalize}" %></h3>



<%= form_for @list do |f| %>
  
  <div class="field">
    <%= f.fields_for :items do |item_fields| %>
      <p>  
        <%= item_fields.label :name, "Item" %>
        <%= item_fields.text_field :name, placeholder: "Item Name"%>
      </p>
    <% end %>
  </div>
    
  <div class="actions">
    <p>
      <%= f.submit "Update List" %>
    </p>
  </div>


<% end %>
