List Show View


<h3><%= @list.name %></h3>
<ul>
  <% @items.each do |item| %>
    <li><%= item.name %><%= " - #{item.quan}" if item.quan %></li>
      <% if item.notes != "" %>
      <ul><li><%= item.notes %></li></ul>
      <% end %>
  <% end %>
</ul>

<p>add functionality to email list to someone with an email field and a button</p>

<%= form_for @item do |f| %>
  <div class="field">
    <%= f.label :name, "Item" %><br />
    <%= f.text_field :name, placeholder: "Add an item" %><br />
    <%= f.label :quan, "Quantity" %><br />
    <%= f.text_field :quan, placeholder: "Enter Quantity" %><br />
    <%= f.label :notes, "Special Notes" %><br />
    <%= f.text_area :notes, placeholder: "Notes" %>
  </div>
  <div class="actions">
    <%= f.submit("Add Item") %>
  </div>
  <%= f.hidden_field :list_id, value: @list.id %>

<% end %>