<p id="notice"><%= notice %></p>


<h3><%= "List: #{@list.name.capitalize}" %></h3>
<ol>
  <% @items.each do |item| %>
    <li>
      <%= "- #{item.name}" %>
      <%= " - #{item.quan}" if item.quan != "" %>
      <%= " - #{item.notes}" if item.notes != "" %>
    </li>      
  <% end %>
</ol>

<%= link_to 'Edit', edit_list_path(@list) %> | 
<%= link_to 'Delete', list_path(@list), method: :delete, data: {confirm: 'Are you sure you want to delete this list?'} %> | 



<h4>Send your list to someone!</h4>
<%= form_tag(@list, method: "patch") do %>
  <table>
    <tr>
      <td><%= label_tag :sent_from, "Your name:" %></td>
      <td><%= text_field_tag :sent_from, nil, placeholder: 'name' %></td>
    </tr>
    <tr>
      <td><%= label_tag :send_to_address, "Email to:" %></td>
      <td><%= text_field_tag :send_to_address, nil, placeholder: 'email' %></td>
    </tr>
    <tr>
      <td colspan="2" style="text-align:right"><%= submit_tag "Send Email!" %></td>
    </tr>
  </table>
<% end %>


