<h2>Here is your shopping list</h2>

<h3><%= "List: #{@list.name.capitalize}" %></h3>

<h3><%= "Sent from #{@sender}, to #{@email}" %></h3>

<h3><%= "This list has #{@list.items.count} items." %></h3>
<ol>
  <% @list.items.each do |item| %>
  <li><%= "#{item.name.capitalize}" %> <%= " - #{item.quan.capitalize}" if item.quan != "" %> <%= " - #{item.notes}" if item.notes != "" %></li>
  <% end %>
</ol>